main {
    margin: 0 auto;
    display: flex;
    max-width: 1440px;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 306px;
        height: max-content;
    }

    section {
        width: 78.7%;
    }
}