main {
    margin: 0 auto;
    display: flex;
    max-width: 1440px;

    nav {
        width: 28vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section {
        width: 68vw;
        padding: 16px 0px 0px 60px;
        background: #FAFBFF;

        h1 {
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0em;
        }
    }
}