.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 1000px;
    width: 306px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 60px 0px #E2ECF980;

    .header {
        width: 250px;
        display: flex;
        align-items: center;
        margin: 10px 0px 40px 0px;

        img {
            width: 37px;
            height: 37px;
        }

        h1 {
            margin-left: 10px;
            font-family: 'Poppins', sans-serif;
            font-size: 26px;
            font-weight: 600;
            line-height: 39px;
            letter-spacing: 0.01em;

            span {
                font-family: Poppins;
                font-size: 10px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: -0.01em;
                color: #838383;
                margin-left: 3px;
            }
        }
    }

    .select-item {
        padding: 10px;
        width: 231px;
        height: 24px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        margin: 0px 0px 10px 0px;

        img {
            width: 24px;
            height: 24px;
            margin-right: 13px;
        }

        span {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: -0.01em;
            color: #9197B3;
        }
    }
}

@media (max-width:1020px) {
    .sidebar {

        position: relative;
        // left: -250px;
    }
}