section {
    width: 900px;
    margin: 0 auto;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-gap: 8px;
    /* Дополнительные стили для таблицы (например, цвет фона, отступы и т.д.) */
}

.grid-header {
    font-weight: bold;
    /* Стили для заголовков таблицы (например, цвет фона, цвет текста и т.д.) */
}

.grid-cell {
    /* Стили для ячеек таблицы (например, цвет фона, цвет текста и т.д.) */
}